div {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    height: 100vh;           
    margin: 0;               
    gap: 10px;               
}

.form {
    display: flex;
    flex-direction: column; 
    align-items: center;  
    gap: 10px;
}

.nicknameField {
    height: 3em;
    width: 300px;
    background-color: #111;
    border: 1px solid #222;
    border-radius: 16px;
    font-size: 1.2em;
    text-align: center;
    color: #fff;
}

.nicknameField:focus {
    border-color: rgb(64, 64, 201);
    outline: none;
    box-shadow: 0 0 5px rgb(64, 64, 201);
}

.searchButton {
    cursor: pointer;
    height: 3em;
    width: 300px;
    background-color: rgb(64, 64, 201);
    border: 1px solid rgb(64, 64, 201);
    border-radius: 16px;
    font-size: 1.2em;
    text-align: center;
    color: #fff;
}

.searchButton:disabled {
    border-color: #22222244;
    background-color: #11111144;
    color: #22222244;
    cursor: not-allowed;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.spinnerCircle {
    border: 4px solid #222;
    border-top: 4px solid rgb(64, 64, 201);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

.spinner p {
    margin-top: 10px;
    color: #3498db;
    font-size: 1.2em;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
